* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    position: relative;
    padding-top: 20px;
    width: 300px; /* Increased clock size */
    height: 300px; /* Increased clock size */
    border: 3px solid #333;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.time-hand {
    position: absolute;
    width: 3px;
    height: 48%;
    background-color: #333;
    top: 0;
    left: 49%;
    transform-origin: 50% 100%; /* Set rotation point to the bottom center */
    transform: translateX(-50%) rotate(0deg); /* Center the hand and set initial rotation */
    transition: transform 0.1s ease-out;
}

.ad-container p {
    margin: 0;
    padding-top: 100px;
    font-size: 14px;
    color: #333;
}

h2 {
    display: flex;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    padding: 10%;
    color: #333;
    ;

}

.title-bar {
    border: 3px solid black;

}

.label {
    position: absolute;
    font-size: 14px;
    color: #000;
}

#label12 {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#label6 {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#label18 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#label24 {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.time-display {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
}